@import "vars"

body
  font-size: small

.App
  // FIXME this is workaround for footer
  margin-bottom: 3em

.flex-center-horizontal
  display: flex
  align-items: center

.margin1-right
  margin-right: 1em

.margin1-left
  margin-left: 1em

.margin1-top
  margin-top: 1em

.margin1
  margin: 1em

.margin05
  margin: 0.5em

.margin025
  margin: 0.25em

.error-message
  background-color: #ffa1ab
  //opacity: 0.2
  color: black
  border-radius: 0.25em

.flex-direction-vertical
  flex-direction: column

.cell-constant
  border: 1px solid $border-color

.cell-variable
  border: 1px solid $border-color
  width: 100%

.link-as-text
  color: black
  text-decoration: none

.pad05
  padding: 0.5em

a
  cursor: pointer

.bold
  font-weight: bold

.center
  text-align: center

.border-round025
  border-radius: 0.25em

.border-top-round025
  border-radius: 0.25em 0.25em 0 0

.width-100
  width: 100%

.form-width-50
  max-width: 50%
  margin-left: auto
  margin-right: auto
  border: 1px solid $border-color
  border-radius: 0.5em
  padding: 1em

// bad for BEM (modifying existing style)
.btn
  font-size: small
  padding: 0 0.25em
  background-color: $header-color
  color: black
  @extend .margin025

.form-check
  margin-bottom: unset

.btn:disabled
  opacity: 0.3

.border-1-gray-top
  border-top: 1px solid $border-color

.border-1-gray-right
  border-right: 1px solid $border-color

.border-1-gray-left
  border-left: 1px solid $border-color