.flex-center-vertical
  display: flex
  align-items: center

.margin1
  margin: 1em

.margin05
  margin: 0.5em

.error-message
  background-color: #ffa1ab
  //opacity: 0.2
  color: black
  border-radius: 0.25em

.flex-direction-vertical
  flex-direction: column

.cell-constant
  border: 1px solid gray

.cell-variable
  border: 1px solid gray
  width: 100%

.link-as-text
  color: black
  text-decoration: none

.pad05
  padding: 0.5em

a
  cursor: pointer