%flex-center-vertical
  display: flex
  align-items: center

body
  text-align: center
  min-width: max-content

.sign-in
  max-width: 50%
  margin-left: auto
  margin-right: auto
  border: 1px solid gray
  border-radius: 0.5em
  padding: 1em

.navbar
  display: flex
  justify-content: center
  column-gap: 5em

.nav-link
  .active
    font-weight: bold

.register__error
  background-color: #ffa1ab
  //opacity: 0.2
  color: black
  margin: 1em
  border-radius: 0.25em

.main-header
  position: sticky
  border: 1px solid gray
  width: 100%
  top: 0

.main-footer
  border: 1px solid gray
  position: fixed
  width: 100%
  bottom: 0

.flex-direction-vertical
  flex-direction: column

.main-forum__item
  display: flex

  &:hover
    background-color: #b8d3fc

.main-forum__cell-constant
  @extend %flex-center-vertical
  border: 1px solid gray
  padding: 0.5em

.main-forum__cell-variable
  @extend %flex-center-vertical
  border: 1px solid gray
  width: 100%
  padding: 0.5em

.main-forum__link-as-text
  color: black
  text-decoration: none

.main-forums
  border: 1px solid gray
  border-radius: 0.5em

.main-forum
  border: 1px solid gray
