.counter
  display: inline-block
  background-color: #dbe8fe
  cursor: default
  position: relative

.counter_enabled
  cursor: pointer
  &:hover
    background-color: #86b7fe

.counter_clicked
  background-color: #feb7b1
